img.thumbnail2 {
    height: 128px;
}

article figure {
    margin-top: 2em;
    width: 256px;
}

article img {
    transition: all .2s ease-in-out;
}

article img:hover {
    transform: scale(2);
}

article figure figcaption {
    color: yellow;
}
